/* Palabra reservada: body, p , h1*/
body {
    background-color: azure;
    font-family: verdana;
    font-size: 30px;
}

/* Class */
.myText {
    background-color: red;
}

/* id */
#myImageSVG {
    background-color: aqua;
}